---
import App from '@layouts/App.astro'
import Card from '@section/Card.astro'
import { InputUrl } from '@components/InputUrl'
import { SwitchDarkMod } from '@components/SwitchDarkMod'
import { NightwindInit } from '@utils/nightwind'
const TITLE = 'Code QR'
const THEME_COLOR = '#D5E1EF'
const dataCards = {
	URL_IMAGE: 'https://api.qrserver.com/v1/create-qr-code/?size=180x180&data=Desp',
	TITLE_CARD: 'Meta tag title',
	DESCRIPTION_CARD: 'Meta tag description',
}
---

<App title={`${TITLE}`} themeColor={`${THEME_COLOR}`}>
	<div class="bg-primary-100">
		<header class='flex items-center justify-center py-8  bg-primary-200'>
			<dv class='flex w-full justify-around gap-4 px-4'>
				<InputUrl client:visible />
				<div class='flex items-center justify-center'>
                    <SwitchDarkMod client:load/>
				</div>
			</dv>
		</header>
		<main class='w-100 grid h-screen place-content-center'>
			<Card {dataCards} />
		</main>
	</div>
    <NightwindInit client:only/>
</App>
